.starGame {
  position: absolute;
  bottom: 50px;
  left: 3%;
  right: 0;
}

.capitalize {
  text-transform: capitalize;
}

ion-content {
  /*--background: url(/assets/background.jpg) no-repeat center/cover fixed;*/
  --background: #172b4d;
}
